<div style="font-family: 'Kaushan Script', cursive;">
    <a href="/" style=" display: inline-block; position: relative; left:47.5%">
    <img src="https://blog.kakaocdn.net/dn/qsWgw/btrLgOgUUbQ/FIZywmleJJXUKOoFV2Xm1K/img.png" width="100" style="display: block; margin: 0 auto;">
    </a>
</div>

<div>
    <div style="position: relative; left:65%; margin: 0 4.5rem; font-family: 'Kaushan Script', cursive;"> 
        <h1>
            <span style="font-size: x-large;">Find Your Own</span>
            <span> Style</span>
        </h1>
    </div>
</div>